<!-- 侧边栏 -->
<div class="biu-sidebar">
  <div class="biu-options">
    <div class="biu-download">下载
      <span>APP</span>
      <div class="mls-qrcode">
        <img src="p2/160802/7e_0h22fa0g03cgl0c5676cb6k2ii71h_140x140.png">
      </div>
    </div>
    <div class="biu-cart">
      <a href="mycart.html" target="_blank">
        <span class="cart-num biu-cart-num"></span>购物车</a>
    </div>
    <div class="biu-service">
      <a class="biu-open-im">
        <span class="service-num biu-service-num"></span>消息</a>
    </div>
    <div class="biu-coupon">
      <a href="coupon.html#" target="_blank">
        <span class="coupon-num biu-coupon-num"></span>优惠券</a>
    </div>
    <div class="biu-mark">
      <a href="mylike.html#" target="_blank">收藏</a></div>
    <div class="biu-footprint">
      <a href="footprint.html#" target="_blank">足迹</a></div>
  </div>
  <div class="biu-go2top"></div>
</div>