  <div id="body_wrap">
        <div class="mu_wrap wrap clearfix">




<div id="address_wrap">
    <div class="addr_right topay" isaddress="true"> <!-- <select id="provinceId"></select> <select id="cityId"></select> <select id="areaId"></select> --> 
        <h2 class="addr_title">地址管理</h2> 
        <div class="addr_edit" id="J_s_addr_edit"> 
            <div class="add_new_addr clearfix">
                <span id="J_saddAddress">+添加地址</span>
            </div> 
            <div class="addressbox_warp"> 
                <div class="addressbox" id="J_sAddrWrap"></div> 
                <div class="address_wrapper">
                    <div class="__addressPop"> 
                        <dl class="address_pop"> 
                            <input type="hidden" class="J_addressid" name="addressId" value=""> 
                            <input type="hidden" class="J_isdefault" name="addressId" value="false"> 
                            <dt>省：</dt> 
                            <dd class="pt_ie6hack"> 
                                <i class="needicon">*</i> 
                                <span class="prompt city_select"></span> 
                            </dd> 
                            <dt>邮政编码：</dt> 
                            <dd> <i class="needicon">*</i> 
                                <input type="text" data-type="c" data-errormsg="请填写正确的邮政编码" data-normal="" class="text formsize_normal J_postcode J_form vm" name="postcode" value=""> <span class="prompt mail_select"></span> 
                            </dd> 
                            <dt>街道地址：</dt> 
                            <dd> <i class="needicon">*</i> 
                                <textarea data-type="*" data-min="5" data-max="100" data-normal="请填写街道地址，最少5个字，最多不能超过100个字" data-errormsg="请填写街道地址，最少5个字，最多不能超过100个字" class="textarea formsize_large J_street J_form" name="street" cols="30" rows="3"></textarea> <span class="prompt breakline">请填写街道地址，最少5个字，最多不能超过100个字</span> 
                            </dd> 
                            <dt>收货人姓名：</dt> 
                            <dd> <i class="needicon">*</i> 
                                <input type="text" data-type="*" data-errormsg="请填写收货人" data-normal="" class="text formsize_normal J_name J_form vm" name="name" value=""> <span class="prompt name_select"></span> 
                            </dd> 
                            <dt>手机：</dt> 
                            <dd> <i class="needicon">*</i> 
                                <input type="text" data-type="phone" data-errormsg="请填写正确的联系号码" data-normal="" class="text formsize_normal J_mobile J_form vm" name="mobile" value=""> <span class="prompt mobile_select"></span> 
                            </dd> 
                            <dt></dt> 
                            <dd class="pt10 oper_btn"> 
                                <a href="javascript:;" class="confirm_btn J_okbtn mr10">确认地址</a> <a href="javascript:;" class="cancel_btn J_cancelbtn">取消</a> 
                            </dd> 
                        </dl>
                    </div>
                </div> <!-- <div class="addressbox addressfirst addresslist" action="/trade/address/addfororder"> </div> --> 
            </div>  
            <div class="addr_section " aid="552711234"> 
                <ul class="clearfix"> 
                    <li class="name">555</li> 
                    <li class="addr" data-province="天津市" data-city="天津市" data-area="河北区" data-street="666666"> 天津市天津市河北区666666 </li> 
                    <li class="zcode">066666</li> 
                    <li class="mobile">135****8888</li> 
                    <li class="oper"> <a href="javascript:;" class="J_default" aid="552711234">设为默认</a> <a href="javascript:;" class="edit" aid="552711234">编辑</a> <a href="javascript:;" class="del nobd" aid="552711234">删除</a> </li> 
                    <li class="enaddr"></li> 
                </ul>
            </div>  
        </div>
    </div>
</div>


</div>
</div>
