<extend name="Layout/base"/>
    <title>    
        <block name="title">地址管理</block>
    </title>
    <block name="css">
    
    <link href="__PUBLIC__/myjs/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
        <link href="__PUBLIC__/myjs/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

        <link href="__PUBLIC__/myjs/css/personal.css" rel="stylesheet" type="text/css">
        <link href="__PUBLIC__/myjs/css/orstyle.css" rel="stylesheet" type="text/css">

        <script src="__PUBLIC__/myjs/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
        <script src="__PUBLIC__/myjs/AmazeUI-2.4.2/assets/js/amazeui.js"></script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <link rel="icon" href="__PUBLIC__/Home/pic/_o/46/c2/7545d5f20d276e84af0f034b0287_92_94.cf.png" type="image/x-icon"/>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/header.css$ead98e0e_1471519499.css" media="all" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/page-muorder-common.css$ead98e0e_1471519499.css" media="all" />
    <!-- 下面这条样式最重要 -->
     <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/pc/css/base.css?1607171729.25" />
  
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/pc/css/page/account/common.css?1607171729.25" />
  
 

    </block>
        <block name="js">
    <script type="text/javascript" src="__PUBLIC__/Home/js/pkg-pc-base.js$ead98e0e_1471519499.js"></script>
    </block>
    
      <block name="content">
    <include file="Layout/base1" />
        <div id="address_wrap">
    <div class="addr_right topay" isaddress="true"> <!-- <select id="provinceId"></select> <select id="cityId"></select> <select id="areaId"></select> --> 
        <h2 class="addr_title">地址管理</h2> 
        <div class="center" style="width:1000px;">
            <div class="col-main">
    <div class="user-order">
        <div class="am-tabs am-tabs-d2 am-margin" data-am-tabs>
            <ul class="am-avg-sm-5 am-tabs-nav am-nav am-nav-tabs" style="width:975px;margin:0px auto;">
                <li class="am-active"><a href="#tab1">所有订单</a></li>
                <li><a href="#tab2">待付款</a></li>
                <li><a href="#tab3">待发货</a></li>
                <li><a href="#tab4">待收货</a></li>
                <li><a href="#tab5">待评价</a></li>
            </ul>

            <div class="am-tabs-bd">
                <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                    <div class="order-top">
                        <div class="th th-item">
                            <td class="td-inner">商品</td>
                        </div>
                        <div class="th th-price">
                            <td class="td-inner">单价</td>
                        </div>
                        <div class="th th-number">
                            <td class="td-inner">数量</td>
                        </div>
                        <div class="th th-operation">
                            <td class="td-inner">商品操作</td>
                        </div>
                        <div class="th th-amount">
                            <td class="td-inner">合计</td>
                        </div>
                        <div class="th th-status">
                            <td class="td-inner">交易状态</td>
                        </div>
                        <div class="th th-change">
                            <td class="td-inner">交易操作</td>
                        </div>
                    </div>

                    <div class="order-main">
                        <div class="order-list">
                            
                            <!--交易成功-->
                            <div class="order-status5">
                                <div class="order-title">
                                    <div class="dd-num">订单编号：<a href="javascript:;">1601430</a></div>
                                    <span>成交时间：2015-12-20</span>
                                    <!--    <em>店铺：小桔灯</em>-->
                                </div>
                                <div class="order-content">
                                    <div class="order-left">
                                        <ul class="item-list">
                                            <li class="td td-item">
                                                <div class="item-pic">
                                                    <a href="#" class="J_MakePoint">
                                                        <img src="__PUBLIC__/myjs/images/kouhong.jpg_80x80.jpg" class="itempic J_ItemImg">
                                                    </a>
                                                </div>
                                                <div class="item-info">
                                                    <div class="item-basic-info">
                                                        <a href="#">
                                                            <p>美康粉黛醉美唇膏 持久保湿滋润防水不掉色</p>
                                                            <p class="info-little">颜色：12#川南玛瑙
                                                                <br/>包装：裸装 </p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="td td-price">
                                                <div class="item-price">
                                                    333.00
                                                </div>
                                            </li>
                                            <li class="td td-number">
                                                <div class="item-number">
                                                    <span>×</span>2
                                                </div>
                                            </li>
                                            <li class="td td-operation">
                                                <div class="item-operation">
                                                    
                                                </div>
                                            </li>
                                        </ul>

                                        <ul class="item-list">
                                            <li class="td td-item">
                                                <div class="item-pic">
                                                    <a href="#" class="J_MakePoint">
                                                        <img src="__PUBLIC__/myjs/images/62988.jpg_80x80.jpg" class="itempic J_ItemImg">
                                                    </a>
                                                </div>
                                                <div class="item-info">
                                                    <div class="item-basic-info">
                                                        <a href="#">
                                                            <p>礼盒袜子女秋冬 纯棉袜加厚 韩国可爱 </p>
                                                            <p class="info-little">颜色分类：李清照
                                                                <br/>尺码：均码</p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="td td-price">
                                                <div class="item-price">
                                                    333.00
                                                </div>
                                            </li>
                                            <li class="td td-number">
                                                <div class="item-number">
                                                    <span>×</span>2
                                                </div>
                                            </li>
                                            <li class="td td-operation">
                                                <div class="item-operation">
                                                    
                                                </div>
                                            </li>
                                        </ul>

                                        <ul class="item-list">
                                            <li class="td td-item">
                                                <div class="item-pic">
                                                    <a href="#" class="J_MakePoint">
                                                        <img src="__PUBLIC__/myjs/images/kouhong.jpg_80x80.jpg" class="itempic J_ItemImg">
                                                    </a>
                                                </div>
                                                <div class="item-info">
                                                    <div class="item-basic-info">
                                                        <a href="#">
                                                            <p>美康粉黛醉美唇膏 持久保湿滋润防水不掉色</p>
                                                            <p class="info-little">颜色：12#川南玛瑙
                                                                <br/>包装：裸装 </p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="td td-price">
                                                <div class="item-price">
                                                    333.00
                                                </div>
                                            </li>
                                            <li class="td td-number">
                                                <div class="item-number">
                                                    <span>×</span>2
                                                </div>
                                            </li>
                                            <li class="td td-operation">
                                                <div class="item-operation">
                                                    
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="order-right">
                                        <li class="td td-amount">
                                            <div class="item-amount">
                                                合计：676.00
                                                <p>含运费：<span>10.00</span></p>
                                            </div>
                                        </li>
                                        <div class="move-right">
                                            <li class="td td-status">
                                                <div class="item-status">
                                                    <p class="Mystatus">交易成功</p>
                                                    <p class="order-info"><a href="orderinfo.html">订单详情</a></p>
                                                    <p class="order-info"><a href="logistics.html">查看物流</a></p>
                                                </div>
                                            </li>
                                            <li class="td td-change">
                                                <div class="am-btn am-btn-danger anniu">
                                                    删除订单</div>
                                            </li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    </div>
    </block>




<!-- 中间区域 -->


    <block name="js">
    
    </block>
</body>
</html>
