<extend name="Layout/base"/>
    <title>    
        <block name="title">修改密码</block>
    </title>
<block name="content">
<div class="settings_box"> 
    <strong class="settings_title">用户密码</strong>
    <fieldset class="setPersonal">
        <form id="setPasswordForm" method="post" onsubmit="return false" action="">
            <div class="form-list" id="old-form" >
                <label class="account-label" for="old_password">当前密码</label>
                <input style="display:none"><!-- for disable autocomplete on chrome --> 
                <input autocomplete="off" class="l_ipt" id="old_password" name="old_password" type="password" value="" />
                <strong style="display:none;"></strong>
                <!-- <a id="forget"><strong>忘记密码？</strong></a> -->
            </div>
            <div class="form-list">
                 <label class="account-label" for="new_password">新密码</label>
                 <input style="display:none"><!-- for disable autocomplete on chrome -->
                 <input autocomplete="off" class="l_ipt" id="new_password" name="new_password" type="password" value="" />
                 <strong></strong>
            </div>
            <div class="pw_safe none_f">
                <span class="txt">安全程度</span>
                <div class="pw_strength pw_weak pw_medium pw_strong">
                     <div class="pw_bar"></div>
                     <div class="pw_letter">
                         <span class="strength_l">低</span>
                         <span class="strength_m">中</span>
                         <span class="strength_h">强</span>
                     </div>
                </div>
            </div>
            <div class="form-list">
                <label class="account-label" for="confirm_password">确认密码</label>
                <input style="display:none"><!-- for disable autocomplete on chrome -->
                <input autocomplete="off" class="l_ipt" id="confirm_password" name="confirm_password" type="password" value="" />
                <strong class="setPasswordErrorMessageLine"></strong>
            </div>
            <input type="submit" value="确 认" id="submit" class="ext_submit" />
            <span class="submit_error"></span>
        </form>
    </filedset>
</div>
</block>
<block name="js">
    <script type="text/javascript">
        var strongPwd = false;//密码强度
        //密码强度验证
        $('#new_password').keyup(function(){
            var num = $(this).val();
            if (num.length >= 6) {
                var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");//密码八位以上必须包含大小写特殊符号
                var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");//字母数字混合
                var enoughRegex = new RegExp("(?=.{6,}).*", "g");
                $('.pw_safe').attr('style','display:block;');
                if (enoughRegex.test(num)) {
                    $('.strength_l').addClass('pw_strength_color');
                    strongPwd = false;
                }
                if (mediumRegex.test(num)) {
                    $('.strength_m').addClass('pw_strength_color');
                    strongPwd = true;
                }else{
                    $('.strength_m').removeClass('pw_strength_color');
                }
                if(strongRegex.test(num)){
                    $('.strength_m').addClass('pw_strength_color');
                    $('.strength_h').addClass('pw_strength_color');
                    strongPwd = true;
                }else{
                    $('.strength_h').removeClass('pw_strength_color');
                }
            }else{
                $('.pw_safe').attr('style','display:none;');
                strongPwd = false;
            }
        });
    </script>
    
</block>
